# workflow
* getting the data ready
* choose the right estimator/algorithm for our problems
* fit the model/algorithm and use it to make predictions on our data
* evaluating the model
* improve the model
* save and load a trained model

In [4]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings; warnings.filterwarnings('ignore')

In [3]:
# getting the data ready
heart_disease = pd.read_csv('./heart-disease.csv')
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [4]:
# create X (feature matrix)
X = heart_disease.drop('target', axis=1)

# create y (labels)
y = heart_disease['target']

In [6]:
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [7]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [12]:
# choose the model
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=100)

# keep the default hyperparams
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [13]:
# fit the model
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [15]:
X_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
9,57,1,2,150,168,0,1,174,0,1.6,2,0,2
210,57,1,2,128,229,0,0,150,0,0.4,1,1,3
270,46,1,0,120,249,0,0,144,0,0.8,2,0,3
215,43,0,0,132,341,1,0,136,1,3.0,1,0,3
295,63,1,0,140,187,0,0,144,1,4.0,2,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,47,1,2,108,243,0,1,152,0,0.0,2,0,2
78,52,1,1,128,205,1,1,184,0,0.0,2,0,2
31,65,1,0,120,177,0,1,140,0,0.4,2,0,3
51,66,1,0,120,302,0,0,151,0,0.4,1,0,2
115,37,0,2,120,215,0,1,170,0,0.0,2,0,2

In [16]:
X_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
116,41,1,2,130,214,0,0,168,0,2.0,1,0,2
147,60,0,3,150,240,0,1,171,0,0.9,2,0,2
157,35,1,1,122,192,0,1,174,0,0.0,2,0,2
198,62,1,0,120,267,0,1,99,1,1.8,1,2,3
140,51,0,2,120,295,0,0,157,0,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
253,67,1,0,100,299,0,0,125,1,0.9,1,2,2
169,53,1,0,140,203,1,0,155,1,3.1,0,0,3
277,57,1,1,124,261,0,1,141,0,0.3,2,0,3
142,42,0,2,120,209,0,1,173,0,0.0,1,0,2
107,45,0,0,138,236,0,0,152,1,0.2,1,0,2

In [14]:
clf.fit(X_train, y_train)

RandomForestClassifier()

In [19]:
# make a prediction
y_preds = clf.predict(X_test)
y_preds

array([1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0,
       0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1], dtype=int64)

In [23]:
y_test

116    1
147    1
157    1
198    0
140    1
      ..
253    0
169    0
277    0
142    1
107    1
Name: target, Length: 61, dtype: int64

In [21]:
# evaluate the model
clf.score(X_train, y_train)

1.0

In [22]:
clf.score(X_test, y_test)

0.819672131147541

In [24]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.90      0.68      0.78        28
           1       0.78      0.94      0.85        33

    accuracy                           0.82        61
   macro avg       0.84      0.81      0.81        61
weighted avg       0.83      0.82      0.82        61

In [25]:
confusion_matrix(y_test, y_preds)

array([[19,  9],
       [ 2, 31]], dtype=int64)

In [26]:
accuracy_score(y_test, y_preds)

0.819672131147541

In [30]:
# improve a model
# try different amount of n_estimators
np.random.seed(42)
for i in range(10, 100, 10):
    print(f'trying model with {i} estimators')
    clf = RandomForestClassifier(n_estimators=i).fit(X_train, y_train)
    print(f'model accuracy on test set: {clf.score(X_test, y_test) * 100:.2f}%')
    print('')

trying model with 10 estimators
model accuracy on test set: 80.33%

trying model with 20 estimators
model accuracy on test set: 80.33%

trying model with 30 estimators
model accuracy on test set: 80.33%

trying model with 40 estimators
model accuracy on test set: 81.97%

trying model with 50 estimators
model accuracy on test set: 80.33%

trying model with 60 estimators
model accuracy on test set: 81.97%

trying model with 70 estimators
model accuracy on test set: 81.97%

trying model with 80 estimators
model accuracy on test set: 81.97%

trying model with 90 estimators
model accuracy on test set: 81.97%

In [33]:
# save the model and load it
import pickle

pickle.dump(clf, open('randomforest_model1.pkl', 'wb'))

In [34]:
loaded_model = pickle.load(open('randomforest_model1.pkl', 'rb'))
loaded_model.score(X_test, y_test)

0.819672131147541